# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build folders
build/
DerivedData/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Firebase / Secrets
GoogleService-Info.plist
.env